.register {
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    width: 396px;
}

.register__head {
    margin: 40px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.register__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register__form-label {
    margin: 24px 0 0;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
}

.register__form-label:first-of-type {
    margin-top: 0;
}

.register__form-input {
    margin: 0;
    padding: 5px 0 10px;
    background: #202020;
    border: 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    border-bottom: 1px solid #424242;
    transition: linear 200ms;
}

.register__form-input:hover, .register__form-input:focus, .register__form-input:active {
    outline: none;
    border-bottom: 1px solid #4285F4;
}

.register__form-span {
    margin: 6px 0 65px;
    color: #EE3465;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

.register-btn {
    margin: 69px 0 16px;
    height: 45px;
    width: 100%;
    background: #4285F4;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: linear 200ms;
}
.register_btn:hover, .register_btn:focus, .register_btn:active {
    opacity: .8;
    outline: none;
}

.register__login {
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
}
.register__login p {
    margin: 0;
    font-weight: normal;
    font-size: inherit;
    line-height: inherit;
    color: #8B8B8B;
}
.register__login a {
    margin: 0 0 0 6px;
    text-decoration: none;
    color: #4285F4;
    font-weight: normal;
    font-size: inherit;
    line-height: inherit;
    transition: linear 300ms;
}
.register__login a:hover, .register__in a:focus, .register__in a:active {
    opacity: .5;
    outline: none;
}

.error {
    color: #EE3465;
}


@media screen and (max-width: 425px) {
    .register {
        margin: 56px auto;
        width: 90%;
    }
    .register__logo {
        margin-right: 0;
        align-self: center;
    }
    .register__head {
        text-align: center;
    }
    .register__login {
        font-size: 12px;
        line-height: 15px;
    }
}
